<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Restablecer Password
        p Hola, has solicitado restablecer tu password. Haz cick en el siguiente enlace para restablecerlo, este enlace es temporal.
        a(href=`${resetUrl}`) Restablecer password
        p Si no puede acceder a este enlace visita #{resetUrl}
        p Si no solicitaste este mail, puedes ignorarlo 