<main class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">
        <div class="campo">
            <label>Correo</label>
            <input type="email" name="email" placeholder="Correo">
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crear una cuenta</a>
            <a href="/restablecer-password">Olvidé mi contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>