<div class="contendor">
    <form action="/restablecer-password" method="post" class="default-form">
         <div class="campo">
            <label>Correo</label>
            <input type="email" name="email" placeholder="Correo">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesion</a>
        </div>
        <div class="campo">
            <input type="submit" value="Restablecer contraseña" class="btn btn-azul">
        </div>
    </form>
</div>